<!DOCTYPE html>
<html>
<head>
  <title>Focix Register</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="register-page">
  <div class="container">
    <img src="/img/user_login.jpg" alt="User Icon" class="user-icon">
    <h2>Register</h2>
    <form method="POST" action="/register">
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Name" required>

      <label for="age">Date of Birth</label>
      <input type="date" name="age" required>

      <label for="email">Email</label>
      <input type="text" name="email" placeholder="Email" required>

      <label for="username">Username</label>
      <input type="text" name="username" placeholder="Username" required>

      <label for="password">Password</label>
      <input type="password" name="password" placeholder="Password" required>

      <input type="submit" value="Register" class="register-btn">
    </form>
    <p><b>Already have an account?</b> <a href="/login"><b>Login here</b></a></p>
  </div>
</body>
</html>
