body
{
  font-family: Arial, sans-serif, bold;
  text-align: center;
  margin: 50px 400px 50px 400px;
  padding-bottom: 30px;
  border: 3px solid #1E90FF;
  overflow: auto;
}

.user-icon {
  width: 50px;
  height: 50px;
  display: block;
  padding-top: 20px;
  margin: 0 auto 10px;    
}

input
{
  margin: 5px;
  padding: 8px;
  width: 200px;
  border: 3px solid #1E90FF;
}

input::placeholder {
  font-weight: bold;
  color: #555; /* optional: make it more visible */
}

input:focus {
  outline: none;
  border-color: #007BFF; /* brighter blue */
  box-shadow: 0 0 5px #007BFF;
}

button 
{
  padding: 6px 12px;
  font-size: 14px;
  height: auto; /* ensures it fits content */
  line-height: 1.4;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-btn
{
  padding: 6px 12px;
  background-color: #28a745;
  color: white;
}

.register-btn:hover 
{
  background-color: #218838;
}

.login-btn
{
  padding: 6px 12px;
  background-color: #007bff;
  color: white;
}

.login-btn:hover
{
  background-color: #0056b3; 
}

.tabs button 
{
  margin: 5px;
}

.tab-content
{
  margin-top: 20px; 
  border: 1px solid #1E90FF;
  padding: 20px;
}

